body {
    background-color: blue !important;
}

.container {
    min-height: 100vh;
    background-color: lightblue !important;
    /*#FEFAEF*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    align-items: center;
    padding-top: 12px;
}

.quiz-card{
    width: 25rem;
}

.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    transition: 125ms;
}

.bg-success, .bg-danger{
    color: white;
    transition: 1000ms;
}